* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.comparision {
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.comparision .comparision-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.comparision .comparision-item.ci-1 {
	background: url(img/image-1.jpeg);
	background-attachment: fixed;
	background-position: center;
}
.comparision .comparision-item.ci-2 {
	background: url(img/image-2.jpg);
	background-attachment: fixed;
	background-position: center;
	left: 50%;
}